
body {
  margin: 0;
  background: url('img/wood.jpg') center no-repeat;
  background-size: cover;
}



/*--Header and Nav--*/
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding:1rem;
}

.header {
  overflow: hidden;
  background-color:#99cccc;
  font-size:2vw
}
 .material-icons{
  color:#fff;
}


/*Intro Section*/

.headline-section {
  position: relative;
  height:auto;
  width: auto;
  padding:15%;
}

.headline-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color:#fff;
  font-weight: 500;
}
.slogan {
  font-size: 60px;
}

.sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}
/*Work Section*/
.work-section {
  padding: 40px 10px;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;

}

.link {
  text-decoration: none;
  color: #3366cc;
}

  .link:hover {
    color: #64ffda;
  }

  .link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }


.section-title {
    margin:auto;
    text-align: center;
    padding-top:24px;
    padding-bottom: 20px;
    color:#fff;
  }


  .card-container .mdl-card__media {
    background: transparent;
  }

.mdl-card__media img{
    max-width:90%;
    padding:1em;
    }

  .card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    max-width:90%;
    padding-bottom: 15%;
  }

  .card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }
/*Contact*/

.contact-section{
  position: relative;
  height: auto;
  width: auto;
  background-color: #99cccc;
  padding-bottom:5%;
}
.contact-font, p {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #757575;;
  font-weight: 500;
  padding-top: 1em;
  width:75%;
}

.contact-section p, .contact-font, .social-media{
  margin-left:5%;
}
contact-section a{
    text-decoration: none;
}
.social-media{
  font-size:1.5em;

}
.fa-linkedin-square, .fa-facebook-square, .fa-instagram{
  text-decoration: none;
  color: #757575;;
  list-style: none;
  
}
a{
  text-decoration:none;
  color:#757575;}


footer p{
  color:#fff;
  margin-left:5%;
}
.link-menu:hover {
  cursor: pointer;
}


